<%- include('./partials/head.ejs') %> 
<%- include ('./partials/persoonlijke-code.ejs') %>
<main>
  <section>
    <h2>Vraag 1 van 7</h2>
    <div class="progress-bar"><div class="progress-v1"></div></div>
    <form method="post" action="/vraag2/<%= userid %>">
      <label><h3>Wat is je naam?</h3>
        <input name="name" type="text" autocomplete="off" placeholder=" " required pattern="^[A-Za-z -]+" value="<%= answer %>"/>
        <p class="hint"><i>Gebruik alleen "a-z" en "-" of spatie.</i></p>
      </label>
      <section>
        <ul>
            <li><a class="secundair" href="/">Terug</a></li>
            <li><button type="submit" value="vraag2">Verder</button></li>
        </ul>
    </section>
    </form>
  </section>
  <%- include('./partials/footer.ejs') %>
  <%- include ('./partials/script-vraag1') %>
  <%- include ('./partials/end') %>