<%- include ('./partials/head') %>
<%- include ('./partials/persoonlijke-code.ejs') %>
<main>
    <section>
        <h2>Vraag 4 van 7</h2>
        <div class="progress-bar"><div class="progress-v4"></div></div>
        <form method="post" action="/vraag5/<%= userid %>">
            <label><h3>Kies je favoriete kleur:</h3><input type="color" name="kleur" required value="<%= answer %>"></label>

            <section>
                <ul>
                    <li><a class="secundair" href="/vraag3/<%= userid %>">Terug</a></li>
                    <li><button type="submit" value="vraag5">Verder</button></li>
                </ul>
            </section>
        </form>
    </section>
<%- include ('./partials/footer') %>
<%- include ('./partials/end') %>