<%- include ('./partials/head') %>
<%- include ('./partials/persoonlijke-code.ejs') %>
<main>
    <section>
        <h2>Vraag 3 van 7</h2>
        <div class="progress-bar"><div class="progress-v3"></div></div>
        <form method="post" action="/vraag4/<%= userid %>">
            <fieldset>
                <legend><h3>Welke opleiding doe je?</h3></legend>
                <% if(answer === 'cmd') {%>
                    <input id="cmd" type="radio" name="opleiding" value="cmd" required checked><label for="cmd">Communicatie Multimedia Design</label>
                    <% } else { %>
                        <input id="cmd" type="radio" name="opleiding" value="cmd" required><label for="cmd">Communicatie Multimedia Design</label>
                    <% } %>
                <% if(answer === 'ict') {%>
                    <input id="ict" type="radio" name="opleiding" value="ict" required checked><label for="ict">ICT</label>
                   <% } else { %>
                    <input id="ict" type="radio" name="opleiding" value="ict" required><label for="ict">ICT</label>
                   <% } %>
                <% if(answer === 'anders') {%>
                    <input type="radio" id="anders" name="opleiding" value="anders" required checked><label for="anders">Anders</label>
                   <% } else { %>
                    <input type="radio" id="anders" name="opleiding" value="anders" required><label for="anders">Anders</label>
                   <% } %>
            </fieldset>
            
            <section>
                <ul>
                    <li><a class="secundair" href="/vraag2/<%= userid %>">Terug</a></li>
                    <li> <button type="submit" value="vraag4">Verder</button></li>
                </ul>
            </section>
        </form>
    </section>

    <%- include ('./partials/footer') %>
    <%- include ('./partials/script-vraag3') %>
    <%- include ('./partials/end') %>