<%- include ('./partials/head') %>
<%- include ('./partials/persoonlijke-code.ejs') %>
<main>
    <%- include ('./partials/theme-chooser') %>
    <section>
        <h2>Vraag 2 van 7</h2>
        <div class="progress-bar"><div class="progress-v2"></div></div>
        <form method="post" action="/vraag3/<%= userid %>">
            <fieldset>
                <legend><h3>Hoe oud ben je?</h3></legend>
                <% if(answer === '18 of jonger') {%>
                    <label><input type="radio" name="leeftijd" value="18 of jonger" required checked>18 of jonger</label>
                    <% } else { %>
                        <label><input type="radio" name="leeftijd" value="18 of jonger" required>18 of jonger</label>
                    <% } %>
                <% if(answer === '19') {%>
                    <label><input type="radio" name="leeftijd" value="19" required checked>19</label>
                    <% } else { %>
                        <label><input type="radio" name="leeftijd" value="19" required>19</label>
                    <% } %>
                <% if(answer === '20') {%>
                    <label><input type="radio" name="leeftijd" value="20" required checked>20</label>
                    <% } else { %>
                        <label><input type="radio" name="leeftijd" value="20" required>20</label>
                    <% } %>
                <% if(answer === '21') {%>
                    <label><input type="radio" name="leeftijd" value="21" required checked>21</label>
                    <% } else { %>
                        <label><input type="radio" name="leeftijd" value="21" required>21</label>
                    <% } %>
                <% if(answer === '22') {%>
                    <label><input type="radio" name="leeftijd" value="22" required checked>22</label>
                    <% } else { %>
                        <label><input type="radio" name="leeftijd" value="22" required>22</label>
                    <% } %>
                <% if(answer === '23') {%>
                    <label><input type="radio" name="leeftijd" value="23" required checked>23</label>
                    <% } else { %>
                        <label><input type="radio" name="leeftijd" value="23" required>23</label>
                    <% } %>
                <% if(answer === '24') {%>
                    <label><input type="radio" name="leeftijd" value="24" required checked>24</label>
                    <% } else { %>
                        <label><input type="radio" name="leeftijd" value="24"" required>24</label>
                    <% } %>
                <% if(answer === '25 of ouder') {%>
                    <label><input type="radio" name="leeftijd" value="25 of ouder" required checked>25 of ouder</label>
                    <% } else { %>
                        <label><input type="radio" name="leeftijd" value="25 of ouder" required>25 of ouder</label>
                    <% } %>
            </fieldset>

            <section>
                <ul>
                    <li><a class="secundair" href="/vraag1/<%= userid %>">Terug</a></li>
                    <li><button type="submit" value="vraag3">Verder</button></li>
                </ul>
            </section>
        </form>
    </section>

    <%- include ('./partials/footer') %>
    <%- include ('./partials/script-vraag2') %>
    <%- include ('./partials/end') %>