<%- include ('./partials/head') %>
<%- include ('./partials/persoonlijke-code.ejs') %>
<main>
    <%- include ('./partials/theme-chooser') %>
    <section>
        <h2>Vraag 3 van 7</h2>
        <div class="progress-bar"><div class="progress-v3"></div></div>
        <form method="post" action="/vraag4/<%= userid %>">
            <fieldset>
                <legend><h3>Welke opleiding doe je?</h3></legend>
                <% if(answer === 'cmd') {%>
                    <label><input autofocus type="radio" name="opleiding" value="cmd" required checked>Communicatie Multimedia Design</label>
                    <% } else { %>
                        <label><input autofocus type="radio" name="opleiding" value="cmd" required>Communicatie Multimedia Design</label>
                    <% } %>
                <% if(answer === 'ict') {%>
                    <label><input autofocus type="radio" name="opleiding" value="ict" required checked>ICT</label>
                   <% } else { %>
                    <label><input type="radio" name="opleiding" value="ict" required>ICT</label>
                   <% } %>
                <% if(answer === 'anders') {%>
                    <label><input autofocus type="radio" name="opleiding" value="anders" required checked>Anders</label>
                   <% } else { %>
                    <label><input type="radio" name="opleiding" value="anders" required>Anders</label>
                   <% } %>
            </fieldset>
            <p>Navigeer met de pijltjestoetsten, selecteer een optie met spatie en ga verder door op enter te drukken</p>

            <section>
                <ul>
                    <li><a class="secundair" href="/vraag2/<%= userid %>">Terug</a></li>
                    <li> <button type="submit" value="vraag4">Verder</button></li>
                </ul>
            </section>
        </form>
    </section>

    <%- include ('./partials/footer') %>
    <%- include ('./partials/script-vraag3') %>
    <%- include ('./partials/end') %>