<%- include ('./partials/head') %>
<%- include ('./partials/persoonlijke-code.ejs') %>
<main>
    <%- include ('./partials/theme-chooser') %>
    <section>
        <h2>Vraag 7 van 7</h2>
        <div class="progress-bar"><div class="progress-v7"></div></div>
        <form method="post" action="/finished/<%= userid %>">
        <fieldset>
            <legend><h3>Wie is je favoriete docent?</h3></legend>
            <% if(answer === 'koop') {%>
                <label><input type="radio" name="docent" value="koop" required checked>Koop</label>
                <% } else { %>
                    <label><input type="radio" name="docent" value="koop" required>Koop</label>
            <% } %>
            <% if(answer === 'Vasilis') {%>
                <label><input type="radio" name="docent" value="Vasilis" required checked>Vasilis</label>
                <% } else { %>
                    <label><input type="radio" name="docent" value="Vasilis" required>Vasilis</label>
            <% } %>
            <% if(answer === 'Joost') {%>
                <label><input type="radio" name="docent" value="Joost" required checked>Joost</label>
                <% } else { %>
                    <label><input type="radio" name="docent" value="Joost" required>Joost</label>
            <% } %>
            <% if(answer === 'Laurens') {%>
                <label><input type="radio" name="docent" value="Laurens" required checked>Laurens</label>
                <% } else { %>
                    <label><input type="radio" name="docent" value="Laurens" required>Laurens</label>
            <% } %>
        </fieldset>

        <section>
            <ul>
                <li><a class="secundair" href="/vraag6/<%= userid %>">Terug</a></li>
                <li><button type="submit" value="finished">Verder</button></li>
            </ul>
        </section>
        </form>
    </section>

    <%- include ('./partials/footer') %>
    <%- include ('./partials/script-vraag7') %>
    <%- include ('./partials/end') %>