<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section>
      <form method="post" action="/vraag7">
        <p>Vraag 6 van 6</p>
       <label>Welk cijfer zou jij deze minor geven?  1<input type="range" min="1" max="10" name="cijfer" value="<%- answer %>" required>10</label>

        <button type="submit">Volgende</button>
      </form>
      <a href="/vraag5"><button type="button">Terug</button></a>
    <%- include('./partials/continue.ejs') %>
    </section>
  </main>
<%- include('./partials/footer.ejs') %>