<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section>
      <form method="post" action="/vraag6">
        <p>Vraag 5 van 6</p>
       <label>Wanneer ben je geboren?<input type="date" name="verjaardag" value="<%- answer %>" required></label>

        <button type="submit">Volgende</button>
      </form>
      <a href="/vraag4"><button type="button">Terug</button></a>
    <%- include('./partials/continue.ejs') %>
    </section>
  </main>
<%- include('./partials/footer.ejs') %>